
.subscribe {
    background-color: rgb(200, 0, 0);
    color: white;
    border: none;
    height: 36px;
    width: 105px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.15s;
}

.subscribe:hover {
    opacity: 0.5;
    /*box-shadow: 2px -3px 10px rgba(0, 0, 0, 0.5);*/
}

/*.subscribe:active {
    background-color: white;
    color: black;
} */

.join {
    background-color: white;
    color: rgb(6, 95, 212);
    border-style: solid;
    border-color: rgb(6, 95, 212);
    border-width: 1px;
    height: 36px;
    width: 62px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 0.15s, color 0.15s;
}

.join:hover {
    background-color: rgb(6, 95, 212);
    color: white;
}

.join:active {
    opacity: 0.7;
}

.tweet {
    color: white;
    background-color: rgb(0, 140, 255);
    border-style: none;
    height: 36px;
    width: 74px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: box-shadow 0.15s;
}

.tweet:hover {
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
}


.back {
    padding: 5px;
    margin-right: 8px;
}

.next {
    padding: 5px;
}

a {
    margin-right: 8px;
}

.uber {
    color: white;
    background-color: black;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    transition: 0.15s;
}

.uber:hover {
    opacity: 0.8;
}