.background-color {
    background-color: black;
}

p {
    font-family: 'Roboto', Arial, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}
.thumbnail {
    width: 300px;
    display: block;
}

.search-bar {
    display: block;
    margin-left: 40px;
    width: 495px;
    height: 26px;
    margin-bottom: 10px;
}

.video-title {
    margin-top: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: rgb(241, 241, 241);
    margin-bottom: 12px;
}

.video-preview {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
    margin-bottom: 40px;
    margin-left: 8px;
    margin-right: 8px;
}

.channel-picture {
    display: inline-block;
    width: 50px;
}

.video-info {
    display: inline-block;
    width: 200px;
    vertical-align: top;
    font-size: 14px;
}

.profile-picture {
   width: 40px; 
   border-radius: 100px;
}

.thumbnail-row {
    margin-bottom: 10px;
}

.video-author, .video-stats {
    font-size: 14px;
    color: rgb(170, 170, 170);
    line-height: 20px;
}

.video-author {
    margin-bottom: 4px;
}
