.header {
    height: 46px;
    display: flex;
    flex-direction: row;
    padding: 16px 16px;
    justify-content: space-between;
    align-items: center;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background-color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0.4);
}

.left-section {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    height: 24px;
    padding: 8px;
    filter: invert(1);
    margin-right: 16px;
}

.youtube-logo {
    height: 20px;
}

.middle-section {
    flex: 1;
    margin-left: 40px;
    margin-right: 40px;
    max-width: 728px;
    display: flex;
    align-items: center;
}

.search-bar {
    display: flex;
    flex: 1;
    height: 36px;
    margin-left: 70px;
    padding-left: 18px;
    padding-right: 4px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-color: rgb(95, 95, 95);
    border-width: 1px;
    border-style: solid;
    outline-color: hwb(208 24% 0%);
    outline-width: 1px;
    background-color:rgba(255, 255, 255, 0.01);
    color: rgba(255, 255, 255, 0.88);
    font-size: 16px;
    box-shadow: inset 1px 2px 5px rgba(255, 255, 255, 0.2);
    width: 0;
}

.search-bar::placeholder {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.88);
}

.search-button {
    height: 40px;
    width: 54px;
    padding: 6px;
    background-color:rgba(255, 255, 255, 0.15);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-color: rgb(95, 95, 95);
    border-width: 1px;
    border-style: solid;
    margin-left: -1px;
    margin-right: 8px;
    cursor: pointer;
    
    
}

.search-icon {
    height: 24px;
    filter: invert(1);
}

.voice-search-icon {
    height: 24px;
    filter: invert(1);
}

.voice-search-button {
    background-color:rgba(255, 255, 255, 0.1);
    height: 40px;
    width: 40px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
}

.right-section {
    width: 225px;
    padding: 0 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
}

.upload-icon {
    height: 24px;
    margin-right: 16px;
    filter: invert(1);
}

.notifications-icon {
    height: 24px;
    margin-right: 16px;
    filter: invert(1);
}

.current-user-picture {
    height: 32px;
    border-radius: 50px;
    margin: 0px 6px;
}

